<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="pruebaOracle" connectionString="Data Source = localhost:1521/orcl;  User ID= system; Password=Madrid11; Unicode= true;" providerName="System.Data.OracleClient"/>
    
    <!--<add name="hcmConString" connectionString="Data Source=192.168.1.2;Initial Catalog=CMDB_HCM;User ID=sa;Password=cmdb" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>